
body{
    background-color: black
}
div{
    color: red;
}
.Box{
    background-color: black;
}
.BoxR{
    background-color: red;
    color: black;
}
.BoxY{
    background-color: yellow;
    color: black;
}
.BoxG{
    background-color: green;
    color: black
}
div p span{
    font-size: 200%;
    color: white;
}