.S{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 130%;
}
.ob{
    background-color: blue;
    color: azure;
    align-items: center;
}
.ob1{
    color: white;
    margin: 0cm 100pt ;
    text-decoration: none;
    width: 100px;
    
}
.ob2{
    color: black;
    font-weight: bold;
    text-decoration: none;
    
}


.ob3{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.ob4{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.ob5{
    color: black;
    font-weight: bold;
    text-decoration: none;
}


.shrift
{font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    height: 50px;
    width: 500px;
    margin: 0cm 13cm;
}
.shrift1{
    width: 200px;
    height: 340px;
    font-size: 240%;
    background-color: white;
    
    

    
}
    
.main{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0cm 2cm;
    font-size: larger;
}
.mo{
    display: flex;
}
.m1{
    font-size: 150%;
    margin: 0cm 1cm;
    width: 100;
 
}
.m2{

    font-size: 145%;
    margin: 0cm 1cm;
}
.Privet{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0cm 1cm;
    font-size: larger;
}
.Privet1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0cm 1cm;
    font-size: larger;
    width: 700px;
}
.Final{
    margin: 0cm 1cm;
}
.rb1{
    display: flex;
    justify-content: space-around;
  
}
.rb2{
    margin: 1cm 150pt
}
.rb3{
    margin: 1cm 150pt
}
.tab1{
    border: 2pt solid rgb(16, 156, 243);  
    border-radius: 20pt;
}
.tab2{
    border: 2pt solid rgb(16, 156, 243);  
    border-radius: 20pt;
}
.tab3{
    border: 2pt solid rgb(16, 156, 243);  
    border-radius: 20pt;
    width: 650pt;
}
.tab4{
    border: 2pt solid rgb(16, 156, 243);  
    border-radius: 20pt;
    width: 733pt;
    height: 10pt;
}
.tb{
    background-color: rgb(16, 156, 243);
    color: white;
    border: 2pt solid rgb(16, 156, 243);
    border-radius: 20pt;
    margin: 0cm 150pt
}
