


.GG{
    width: 100%;
    display:contents;
    justify-content: space-around;
    align-items:initial
}
.shrift1{
    width: 200px;
    height: 340px;
    font-size: 240%;
    background-color: white;
    margin-left: 100px;
    
    

    
}
    
.main{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 100px;
    font-size: larger;
    margin-top: 25px;
}
.mo{
    display: flex;
}
.m1{
    font-size: 150%;
    margin-left: 100px;
    width: 100;
 
}
.m2{

    font-size: 145%;
    margin: 0cm 1cm;
}
.Privet{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 100px;
    margin-top: 1cm;
    font-size: larger;
}
.Privet1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0cm 100px;
    font-size: larger;
    width: 700px;
}
.Final{
    margin-left: 100px;
    margin-top: 25px;
}
.rb1{
    
    display: flex;
    
    
  
}
.rb2{
    margin-top: 25px;
}
.rb3{
    margin-top: 25px;
    
}
.tab1{
    border: 2pt solid rgb(16, 156, 243);  
    border-radius: 20pt;
}
.t2{
    margin-left: 450px;

}
.tab2{
    border: 2pt solid rgb(16, 156, 243);  
    border-radius: 20pt;
}
.tab3{
    border: 2pt solid rgb(16, 156, 243);  
    border-radius: 20pt;
    width: 650pt;
}
.tab4{
    border: 2pt solid rgb(16, 156, 243);  
    border-radius: 20pt;
    width: 733pt;
    height: 40pt;
}
.tb{
    background-color: rgb(16, 156, 243);
    color: white;
    border: 2pt solid rgb(16, 156, 243);
    border-radius: 20pt;
    margin-top: 20px;
    width: 300px;
    height:50px;
    font-size: larger;
}

